<h1>Users</h1>

<table id="users" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Roles</th>
        <th></th>
    </tr>
    </thead>
</table>

<script>
    $(function () {
        var table = $('#users').DataTable({
            "ajax": "/users/getUsers",
            "columns": [
                {
                    "data": function (data, type, row, meta) {
                        return '<a href="' + data.UserInfoHref + '">'+ data.UserName +'</a>';
                    }
                },
                { "data": "Email" },
                { "data": "Roles" },
                {
                    "data": function (data, type, row, meta) {
                               return '<a href="' + data.EditRolesHref + '">Edit Roles</a>';
                    }
                }
            ]
        });

//        $('#users').on('click', 'tr', function () {
//            var id = table.row( this ).id();
//            $.get("/users/getUser", { id: id})
//              .done(function (data) {
//                    console.log(data);
//            });
//        });
    });
</script>